define workgroup {
    kernel
    sysmodule
    app
    idle
}

app rcard

board sf32lb52-dev {
    chip "proj:chips/sf32lb52.kdl"
}

kernel {
    workspace-crate "kernel-sf32lb52"
    stack-size 1024
}

task super {
    workspace-crate "supervisor"
    priority (workgroup)kernel
    stack-size 8192
    uses-peripheral usart1
}

task idle {
    git-crate {
        repo "https://github.com/cbiffle/exhubris/"
        package idle
        rev "69d2f5ca8017fc3aaf692eae9455ac9fcd883173"
    }
    stack-size 256
    priority (workgroup)idle
    features insomniac
}

task sysmodule_usart {
    workspace-crate "sysmodule_usart"
    stack-size 2048
    priority (workgroup)sysmodule
    uses-peripheral usart1
    uses-peripheral usart2
    uses-peripheral usart3
}

task fob {
    workspace-crate "fob"
    stack-size 2048
    priority (workgroup)app
    uses-task sysmodule_usart
}
