chip "SF32LB52"
target-triple "thumbv8m.main-none-eabihf"
vector-table-size 0x1CC

compatible {
    - "SF32LB52"
    - "SF32LB52x"
    - "arm-cortex-m33"
}

memory {
    region "vectors" {
        base 0x1201_0000
        size 0x400
        read
    }
    region "flash" {
        base 0x1201_0400
        size 0x01FF_FC00
        read
        execute
    }
    region "ram" {
        base 0x2000_0000
        size 0x0008_0000
        read
        write
    }
}

peripheral "usart1" {
    base 0x5008_4000
    size 0x1000
    irq "irq" 59
}

peripheral "usart2" {
    base 0x5008_5000
    size 0x1000
    irq "irq" 74
}

peripheral "usart3" {
    base 0x5008_6000
    size 0x1000
    irq "irq" 95
}

peripheral "rcc" {
    base 0x5000_0000
    size 0x1000
}

peripheral "gpios" {
    base 0x500A_0000
    size 0x1000
    irq "irq" 84
}

peripheral "pinctrl" {
    base 0x5000_3000
    size 0x1000
}

peripheral "syscon" {
    base 0x5000_B000
    size 0x1000
}

peripheral "aon_syscon" {
    base 0x500C_0000
    size 0x1000
}

peripheral "pmuc_syscon" {
    base 0x500C_A000
    size 0x1000
}

peripheral "lcdc" {
    base 0x5000_8000
    size 0x128
}

peripheral "sdmmc1" {
    base 0x5004_5000
    size 0x400
    irq "irq" 57
}

peripheral "rtc" {
    base 0x500C_B000
    size 0x78
}
