define "workgroup" {
    kernel
    core-sysmodule
    sysmodule
    app
    idle
}

app "rcard"

board "sf32lb52-dev" {
    chip "proj:chips/sf32lb52.kdl"

    memory "ext_ram" {
        base 0x1000_0000
        size 0x0080_0000
    }
}

allocation "frame_buffers" {
    in "ext_ram"
    size (KiB)512 // 8 KB per framebuffer, 64 framebuffers total
    align 32 // 32 byte alignment for cache efficiency
    policy { auto; }
}

kernel {
    workspace-crate "kernel-sf32lb52"
    stack-size (KiB)1
}

block-device "sdmmc" {
    mapping 0x1200_0000
    // should be larger, 4mb for now to make flashing faster
    size (B)4194304
    block-size (B)512

    partition "sec_config" {
        size (KiB)20
        format "ftab"
        boot_target "firmware"
    }

    partition "firmware" {
        size (KiB)384
        format "boot"
        align (KiB)64
    }

    partition "logs" {
        size (MiB)1
        format "ringbuffer"
    }

    partition "main" {
        size (MiB)1
        format "littlefs"
    }
}

filesystem "global" {
    map "main" { source "sdmmc::main"; }
}

notifications {
    logs {
        min-priority 0
        max-priority 10
    }
    present {
        min-priority 25
        max-priority 25
    }
}

task "idle" {
    workspace-crate "idle"
    stack-size 256
    priority (workgroup)"idle"
    features "insomniac"
}

task "supervisor" {
    supervisor
    workspace-crate "supervisor"
    priority (workgroup)"kernel"
    stack-size (KiB)8
    uses-peripheral "usart1"
}

task "sysmodule_usart" {
    workspace-crate "sysmodule_usart"
    stack-size (KiB)2
    priority (workgroup)"core-sysmodule"

    // can't use USART1 - it's used by the supervisor for logging
    uses-peripheral "usart2"
    uses-peripheral "usart3"
}

task "sysmodule_time" {
    workspace-crate "sysmodule_time"
    stack-size (KiB)1
    priority (workgroup)"core-sysmodule"
    uses-peripheral "rtc"
}

task "sysmodule_log" {
    workspace-crate "sysmodule_log"
    stack-size (KiB)4
    priority (workgroup)"core-sysmodule"
    uses-sysmodule "usart" { with-priority 0; }
    uses-sysmodule "reactor" { with-priority 0; }
    pushes-notification "logs"
}

task "sysmodule_reactor" {
    workspace-crate "sysmodule_reactor"
    stack-size (KiB)2
    priority (workgroup)"core-sysmodule"
}

task "sysmodule_display" {
    workspace-crate "sysmodule_display"
    stack-size (KiB)2
    priority (workgroup)"sysmodule"
    uses-peripheral "lcdc"
    uses-sysmodule "log" { with-priority 0; }
}

task "sysmodule_compositor" {
    workspace-crate "sysmodule_compositor"
    stack-size (KiB)8
    priority (workgroup)"sysmodule"
    uses-sysmodule "display" { with-priority 0; }
    uses-sysmodule "log" { with-priority 0; }
    uses-allocation "frame_buffers" { read; write; }
    uses-notification "present"
}

task "sysmodule_sdmmc" {
    workspace-crate "sysmodule_sdmmc"
    stack-size (KiB)4
    priority (workgroup)"sysmodule"
    uses-peripheral "sdmmc1"
    uses-sysmodule "log" { with-priority 0; }
}

task "sysmodule_storage" {
    workspace-crate "sysmodule_storage"
    stack-size (KiB)4
    priority (workgroup)"sysmodule"
    uses-sysmodule "sdmmc" { with-priority 0; }
    peer-sysmodule "fs"
    uses-sysmodule "log" { with-priority 0; }
}

task "sysmodule_log_sink_storage" {
    workspace-crate "sysmodule_log_sink_storage"
    stack-size (KiB)8
    priority (workgroup)"sysmodule"
    uses-sysmodule "log" { with-priority 0; }
    uses-partition "logs"
    uses-notification "logs"
}

task "sysmodule_fs" {
    workspace-crate "sysmodule_fs"
    stack-size (KiB)32
    priority (workgroup)"sysmodule"
    uses-sysmodule "sdmmc" { with-priority 0; }
    uses-sysmodule "storage" { with-priority 0; }
    uses-sysmodule "log" { with-priority 0; }
}

task "fob" {
    workspace-crate "fob"
    stack-size (KiB)8
    priority (workgroup)"app"
    uses-sysmodule "log" { with-priority 0; }
    pushes-notification "present"
}
